---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import Hero from "../components/sections/Hero.astro";
import TrustedBy from "../components/sections/TrustedBy.astro";
import Services from "../components/sections/Services.astro";
import UseCases from "../components/sections/UseCases.astro";
import Process from "../components/sections/Process.astro";
import CaseStudies from "../components/sections/CaseStudies.astro";
import Pricing from "../components/sections/Pricing.astro";
import FAQ from "../components/sections/FAQ.astro";
import Contact from "../components/sections/Contact.astro";
---
<BaseLayout
	title="AI Solutions & Automation untuk Bisnis"
	description="Gemercik Solution membantu bisnis menghemat waktu, menekan biaya operasional, dan meningkatkan output dengan AI dan automation yang terukur."
  canonicalPath="/"
>
	<Navbar />
	<main>
		<Hero />
		<TrustedBy />
		<Services />
		<UseCases />
		<Process />
		<CaseStudies />
    <Pricing />
    <FAQ />
    <Contact />
	</main>
	<Footer />
</BaseLayout>